<section id="blog" class="blog container">
  <div class="row">
    {{blog-card title='Ruby is awesome' description='blabla bla blabla'}}
    {{blog-card title='Ruby is awesome' description='blabla bla blabla'}}
  </div>
  <div class="row">
    {{blog-card title='Ruby is awesome' description='blabla bla blabla'}}
    {{blog-card title='Ruby is awesome' description='blabla bla blabla'}}
  </div>
</section>
