<nav class='navigation'>
  <section class="container">
    <a class="navigation__item" href="#welcome">
      <img class="navigation__logo" src="{{logo}}">
      <h1 class="navigation__title">{{title}}</h1>
    </a>

    <ul class="navigation__list list float-right">
      <li class="navigation__item">
	<a class="navigation__link" href="#blog">Blog</a>
      </li>
      <li class="navigation__item">
	<a class="navigation__link" href="#about-me">About Me</a>
      </li>
    </ul>
  </section>
</nav>
