<footer class="footer">
  <div class="container">
    <a id="github" href="https://github.com/TomBosmans">
      <img class="footer__logo" src="assets/logos/github.svg">
    </a>
    <a id="linkedin" href="https://www.linkedin.com/in/tom-bosmans-b59503124/">
      <img class="footer__logo" src="assets/logos/linkedin.svg">
    </a>
  </div>
</footer>
